@font-face {
    font-family: "MountainsofXmas";
    src: url(../../assets/fonts/MountainsofChristmas-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "MountainsofXmas";
    src: url(../../assets/fonts/MountainsofChristmas-Bold.ttf);
        font-weight: 700;
}

@font-face {
    font-family: "Varela";
    src: url(../../assets/fonts/VarelaRound-Regular.ttf);
    font-weight: 400;
}