// color variables

$first: #231e05;
$second: #80785e;
$third: #d7b588;
$fourth: #8b1d1a;
$fifth: #1c0205;

//header and footer to have background color $fourth
//background for homepage should be $third color
//header title text: $first color
//All other headers to $fifth color
//card background color to be $second
