@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

body{
    padding: 0;
    font-family: "Varela";
}

.header {

    &__nav{
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        font-family: "MountainsofXmas";
        font-size: 2rem;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        padding-bottom: 1rem;

        @include tablet {
            font-size:3rem;
        }
    }

    &__subtitle {
        text-align: center;
    }
}