@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.footer {

    padding: 0 2rem;
    background-color: $fourth;

    @include tablet {
        padding: 2rem;
    }

    &__logo {
        font-family: "MountainsofXmas";
        font-size: 1.5rem;
        padding: 1rem 0;

        @include tablet {
            display: flex;
            justify-content: center;
            padding: 0 1rem;
        }
    }

    &__container {
        align-items: flex-start;
        padding: 0.5rem 0;

        @include tablet {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        
    }

    &__social-media {
        display: flex;
        gap: 1rem;
        padding: 0.5rem 0;
    }

    &__copyright {
        font-size: x-small;
    }
}